body {
  background: linear-gradient(
    0deg,
    rgba(42, 64, 83, 1) 0%,
    rgb(121, 183, 238) 100%
  );
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}

nav {
  backdrop-filter: blur(25px);
}

.icon {
  color: white;
  font-size: 3.5rem;
  margin-right: 1rem;
}

a {
  color: white;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
  color: rgba(42, 64, 83, 1);
  filter: brightness(125%);
}

.isEven,
.isOdd {
  background-color: rgb(208, 207, 207, 0.4);
  padding: 0 1rem;
  border-radius: 1rem;
}
.isOdd {
  background-color: rgba(128, 128, 128, 0.4);
}
