.App {
  margin: 20px auto;
  width: 30%;
  text-align: center;
  border: 1px solid grey;
}

hr {
  width: 4rem;
}

.active {
  font-weight: bolder;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}
